@using Microsoft.AspNetCore.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["MetaKeyword"]">
    <meta name="keywords" content="@ViewData["MetaDescription"]" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <!-- CSS Style -->
    <link rel="stylesheet" href="~/client-side/style.css">
</head>

<body class="@ViewData["BodyClass"]">

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- mobile menu -->
    @await Component.InvokeAsync("MobileMenu")
    <!-- end mobile menu -->
    <div id="page">

        <!-- Header -->
        <partial name="_Header.cshtml"/>
        <!-- end header -->
        <nav>
            <div class="container">
                <div class="row">
                    <div class="mm-toggle-wrap">
                        <div class="mm-toggle"><i class="fa fa-align-justify"></i> </div>
                        <span class="mm-label">All Categories</span>
                    </div>
                    <div class="col-md-3 col-sm-3 mega-container hidden-xs">
                        @await Component.InvokeAsync("CategoryMenu")
                    </div>
                    <div class="col-md-9 col-sm-9 jtv-megamenu">
                        @await Component.InvokeAsync("MainMenu")
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody()
        <!-- Footer -->
        <partial name="_Footer.cshtml" />
        <!-- End Footer -->
    </div>

    <!-- JS -->
    <!-- jquery js -->
    <script type="text/javascript" src="~/client-side/js/jquery.min.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="~/client-side/js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="~/client-side/js/owl.carousel.min.js"></script>

    <!-- jquery.mobile-menu js -->
    <script type="text/javascript" src="~/client-side/js/mobile-menu.js"></script>

    <!--jquery-ui.min js -->
    <script type="text/javascript" src="~/client-side/js/jquery-ui.js"></script>

    <!-- main js -->
    <script type="text/javascript" src="~/client-side/js/main.js"></script>

    <!-- countdown js -->
    <script type="text/javascript" src="~/client-side/js/countdown.js"></script>

    <!-- Slider Js -->
    <script type="text/javascript" src="~/client-side/js/revolution-slider.js"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/client-app/shared/localize/resources.@(requestCulture.RequestCulture.Culture.Name).js"></script>
    <script src="~/client-app/shared/tedu.js"></script>
    <script src="~/client-app/controllers/base/index.js"></script>

    <script>
        var baseObj = new BaseController();
        baseObj.initialize();
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
