@model TeduCoreApp.Models.ProductViewModels.SearchResultViewModel
@{
    ViewData["Title"] = "Search results of " + (Model.Data.CurrentPage ==1 ? Model.Keyword : Model.Keyword + " - Page " + Model.Data.CurrentPage);
    ViewData["MetaKeyword"] = "Search results of " + (Model.Data.CurrentPage == 1 ? Model.Keyword : Model.Keyword + " - Page " + Model.Data.CurrentPage);
    ViewData["MetaDescription"] = "Search results of " + (Model.Data.CurrentPage == 1 ? Model.Keyword : Model.Keyword + " - Page " + Model.Data.CurrentPage);
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>Search result: @Model.Keyword</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="shop-inner">
                    <div class="page-title">
                        <h2>Search result: @Model.Keyword</h2>
                    </div>
                    <div class="toolbar column">
                        <form action="/search.html" method="get">
                            <input type="hidden" name="keyword" value="@Model.Keyword" />
                            <div class="sorter">
                                <div class="short-by">
                                    <label>Sort By:</label>
                                    <select name="sortBy" asp-for="SortType"
                                            onchange="this.form.submit()" asp-items="Model.SortTypes"></select>
                                </div>
                                <div class="short-by page">
                                    <label>Show:</label>
                                    <select name="pageSize" asp-for="PageSize" onchange="this.form.submit()"
                                            asp-items="Model.PageSizes"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="product-grid-area">
                        <ul class="products-grid">
                            @foreach (var item in Model.Data.Results)
                            {
                                var url = "/" + item.SeoAlias + "-p." + item.Id + ".html";
                                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                <div class="icon-sale-label sale-left">Sale</div>
                                                <div class="icon-new-label new-right">New</div>
                                                <div class="pr-img-area">
                                                    <a title="Ipsums Dolors Untra" href="@url">
                                                        <figure> <img class="first-img" src="@item.Image" alt="@item.Name"> <img class="hover-img" src="@item.Image" alt="@item.Name"></figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="@item.Name" href="@url">@item.Name</a> </div>
                                                    <div class="item-content">
                                                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                        <div class="item-price">
                                                            <div class="price-box"> <span class="regular-price"> <span class="price">@item.Price.ToString("N0")</span> </span> </div>
                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" data-id="@item.Id" class="add-to-cart"><span> Add to Cart</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }

                        </ul>
                    </div>
                    @(await Component.InvokeAsync("Pager", Model.Data))
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Container End -->
